p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  .description {
    font-size:30px;
    color: rgb(6, 130, 167)
  }

  .img{
    height: 200px;
    width: 400px;
  }
  img{
    height:40%;
    width:30%;
  }
  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }