<!DOCTYPE html>
<html>
<head>
    <title>Мой дом</title>
    <style>
        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
          }
          .description {
            font-size:30px;
            color: rgb(6, 130, 167)
          }

          .img{
            height: 200px;
            width: 400px;
          }
          img{
            height:40%;
            width:30%;
          }
          .container{
            display: flex;
            justify-content: center;
            flex-direction: column;
          }

    </style>

</head>

<body>
  <div class="container">
    <div>
      <h1>Всем доброго времени суток. Сегодня мой микро рассказ пойдет о моём любимом, и это любимое - мой дом.</h1>
    </div>
    <div class='description'>
      <p>Целых 18 лет своей жизни я провела именно там, и это место - моя малая родина. </p>
      <div class="'img">
        <img src="https://cdnn21.img.ria.ru/images/155239/09/1552390941_0:2:640:362_650x0_80_0_0_7707ec7f5b9ea8cb057d9c1839db48e1.jpg"/>
      </div>
      <p>Теперь немного повещаю</p>
      <p>Родилась и выросла я на полуострове Ямал в Ямало-Ненецком автономном округе. Мой родной город- Ноябрьск  (шутки про декабрьск и январьск уже устарели если что)</p>
      <p>Город в целом небольшой, зато территория большая. Лес вокруг, медведи ходят, белки прыгают, совы полярные летают, лисы рыбу у рыбаков воруют. Всё по базе. Фауна у нас многообразная</p>
      <p>Немного фоточек, чтобы верить искренне и доказательно, а не на слово</p>
      <div class="'img">
        <img src = "https://avatars.mds.yandex.net/i?id=c519d6a82449b10d879a38a686745078_l-5878191-images-thumbs&n=13"/>
        <img src ="https://i4.photo.2gis.com/images/geo/103/14495961319950668_4ef3.jpg"/>
        <img src = "https://sun1-85.userapi.com/c841036/v841036828/4b21a/aYGIyEewd3c.jpg"/>
      </div>
      <p>Но не все почести городу, потому что дом - это не место, а люди.</p>
      <p>Мне повезло 11 лет учиться в одной школе и расти в окружении тех ребяток и учителей, с которыми мы проводили всё свободное и несвободное время</p>
      <p> Сказано было вставить ссылочки, поэтому подписывайтесь на моих друзей!! Они красотки</p>
      <div class="actions">
        <button onClick="location.href='https://vk.com/aulaniah'"> У неё сегодня др!!!</button>
        <button onClick="location.href='https://vk.com/vgsosn?from=search'"> А она просто львица</button>
        <button onClick="location.href='https://vk.com/id74519511?from=search'"> А это моя классная матушка</button>
        <p>Вообще у меня такой потрясающий классрук в 10-11 был. Мы с ней и на шашлыки ходили и в другой город на концерт ездилии, и  на лыжах катались. Вообще она самая-самая!!!</p>
        <a href="https://vk.com/wall74519511_1061">1.Это мы с ней на выпускном</a>
        <a href="https://vk.com/wall74519511_997">   2.А это мы пtсни поем,пока в -25 на лыжах катаемся</a>
        <p>Вообще Елена Александровна потрясающая женщина, которую мы всем классом любим всеми сердцами, что у нас есть. Если бы вы её знали, вам бы было интересно слушать мой рассказ о ней, но тк вы её не знаете , я не буду сильно много болтать</p>
      </div>
      <p>В целом вы узнали немного о моём городе и о моей школьной любви, поэтому, думаю, нам стоит заканчивать наше невероятное повествование на словах не менее невероятной певицы</p>
      <div class="actions">
        <button onClick="location.href='https://yandex.ru/video/preview/5339581075439440867'"> Ну тыкните!</button>
        <p>Это если что, был рассказ про мой дом. Всем спасибо за просмотр и до новых встреч!</p>
      </div>
      <div class="'img">
        <img src='https://avatars.mds.yandex.net/i?id=9beaa02514cf7ce4db78382f3318cd87_l-5220124-images-thumbs&n=13'/>
      </div>

    </div>

  </div>

</body>
</html>